<%= form_for @local_point, :html => {:class => 'form-horizontal'} do |f| %>
  <%= f.hidden_field :latitude %>
  <%= f.hidden_field :longitude %>
  <fieldset>
    <legend>セッションスポットを紹介する</legend>
    <div class="control-group">
      <label class="control-label" for="point_name">店名</label>
      <div class="controls">
        <%= f.text_field :point_name, :placeholder => "ライブスポットHoge", :class => "input-medium" %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="address">住所</label>
      <div class="controls">
        <%= f.text_field :address, :placeholder => "東京都○○区×× 1-2-3 Hogeビル", :class => "input-large" %>
        <button type="button" class="btn btn-info" id="update_center_by_address">地図を合わせる<i class="icon-globe"></i></button>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="genre">ジャンル(複数選択)</label>
      <div class="controls">
        <% Genre.all.each do |g| %>
          <label class="checkbox inline">
          <%= f.check_box :genre_ids, { :checked => @local_point.genre.include?(g), :name => "local_point[genre_ids][]" }, g.id, " " %>
          <%= g.genre_name %>
          </label>
        <% end %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="site_url">WebサイトURL(任意)</label>
      <div class="controls">
        <%= f.text_field :site_url, :placeholder => "http://www.hoge.com/top", :class => "input-medium" %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="description">簡単な説明<br/>セッション日程、料金、ドラムやピアノの有無など</label>
      <div class="controls">
        <%= f.text_area :description, :rows => 5, :class => 'input-xlarge' %>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <% if @new_mode %>
        <button type="submit" class="btn btn-success">追加</button>
        <% else %>
        <button type="submit" class="btn btn-success">更新</button>
        <% end %>
      </div>
    </div>
  </fieldset>
<% end %>
