<div class="row-fluid">
  <%= bootstrap_flash %>
  <div class="span6">
    <p class="text-center lead">お店の位置に矢印(中央)を合わせてください。</p>
    <%= google_map_tag id: "map_canvas", width: 550, height: 550 %>
  </div>
  <div class="span6">
    <%= render 'form' %>
  </div>
</div><!--/row-->

<% content_for :title do %>
  <%= @local_point.point_name %>(Edit): JamSession*Local
<% end %>
<% content_for :javascript do %>
<script type="text/javascript">
  $(function(){
    var canvasId = '#map_canvas';
    var myMaps = new MyMaps({
      canvasId: canvasId,
      lat:      <%= @local_point.latitude ||  35.68172719326397 %>,
      lng:      <%= @local_point.longitude || 139.76800135498047 %>,
      level:    16,
      range:    0.01,
      form:     {
        latf:    '#local_point_latitude',
        lngf:    '#local_point_longitude',
        address: '#local_point_address',
      }
    });
    myMaps.createGmap();

    myMaps.addCenterMarker();
    myMaps.reloadCenter();

    $("#update_center_by_address").bind("click", function () {
      myMaps.updateCenterByAddress($(myMaps.form.address).val());
    });
  });
</script>
<% end %>
