<div class="row-fluid">
  <div class="span6">
    <div id="spot_info"></div>
  </div>
  <div class="span6">
    <%= bootstrap_flash %>

    <%= google_map_tag id: "map_canvas", width: 500, height: 500 %>

  </div>
</div><!--/row-->

<% content_for :title do 'ジャムセッションスポットまとめサービス JamSession*Local' end %>
<% content_for :javascript do %>
<script type="text/javascript">
  $(function() {
    var myMaps = new MyMaps({
      canvasId: '#map_canvas',
      lat:      <%= @lat %>,
      lng:      <%= @lng %>,
      level:    <%= @level %>,
      range:    <%= @range %>,
    });
    myMaps.createGmap();

    google.maps.event.addListener(myMaps.map, 'idle', function () {
      var bounds = myMaps.getBounds();
      var sw = bounds.getSouthWest();
      var ne = bounds.getNorthEast();
      myMaps.fetchPoints({
        sw_lat: sw.lat(),
        ne_lat: ne.lat(),
        sw_lng: sw.lng(),
        ne_lng: ne.lng(),
      });
    });
  });
</script>
<% end %>
